<div class="page" *blockUI="'changePassword'">
  <form [formGroup]="changePasswordForm" (ngSubmit)="save(changePasswordForm.value)">
    <div class="card card-fluid">
      <div class="card-body">
        <div class="mb-3">
          <label for="newPassword" class="form-label">New Password</label>
          <input type="password" class="form-control" id="newPassword" required autocomplete=""
            formControlName="newPassword" [validate-form-control]="changePasswordForm.controls.newPassword">
        </div>
        <div class="mb-2">
          <label for="input01" class="form-label">Confirm Password</label>
          <input type="password" class="form-control" id="confirmPassword" required formControlName="confirmPassword"
            [validate-form-control]="changePasswordForm.controls.confirmPassword"
            [equalTo]="changePasswordForm.controls.newPassword" autocomplete="">
        </div>
      </div>
      <div class="card-footer">
        <div class="row g-2 align-items-center">
          <div class="col-auto">
            <input type="password" class="form-control ml-auto mr-3" id="currentPassword"
              placeholder="Enter Current Password" formControlName="currentPassword" required
              [validate-form-control]="changePasswordForm.controls.currentPassword" autocomplete="">
          </div>
          <div class="col-auto">
            <button type="submit" class="btn btn-success" [disabled]='!changePasswordForm.valid'>Save
              Changes</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>