<div>
  <header class="page-cover">
    <div class="text-center">
      <a [routerLink]="[]" class="user-avatar user-avatar-xl">
        <img [src]="user.picture | imageLoad : 'user.svg' | async" alt="User Avatar">
      </a>
      <h2 class="h4 mt-3 mb-0"> {{user.name}} </h2>
      <p class="text-muted"> {{user.role.name}} </p>
    </div>
  </header>
  <div>
    <ul class="nav justify-content-center nav-tabs profile-nav">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="profileaccount">Account</a>
      </li>
      <!-- <li class="nav-item" routerLinkActive="active">
                  <a class="nav-link" routerLinkActive="active" routerLink="profilesetting">Settings</a>
              </li> -->
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLinkActive="active" routerLink="changepassword">Change Password</a>
      </li>
    </ul>
    <div class="row">
      <div class="col-md-8 offset-md-2 col-sm-12">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>